{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <h3>{{post.title}}</h3>
      <strong>{{post.user}}</strong>
      <p>{{post.body}}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <div class="jumbotron comment-form">
        {% if comment_form %}
          {% from "macros/form.html" import form as macro_form %}

          {{ macro_form('Comment:post', form=comment_form, post_id=post.id) }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-md-6 comments">
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    window.allCommentEndpoint = "{{url_for('Comment:all', post_id=post.id)}}";
    window.commentPostEnpoint = "{{url_for('Comment:post', post_id=post.id)}}";
  </script>
  <script src="{{url_for('static', filename='js/comments.js')}}" ></script>
{% endblock %}
