{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <div class="row justify-content-between">
        <h3 class="col-xs-6">{{post.title}}</h3>
        {% if post.id in current_user.posts_list %}
          <div class="col-xs-6 ">
            <a href="{{url_for('Post:edit', entity_id=post.id)}}">Edit</a>
            <a href="{{url_for('Post:delete', entity_id=post.id)}}">Delete</a>
          </div>
        {% endif %}
      </div>
      <strong>{{post.user}}</strong>
      <pre>{{post.body}}</pre>
    </div>
  </div>
  {% if comment_form %}
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <div class="jumbotron comment-form">
          {% from "macros/form.html" import form as macro_form %}

          {{ macro_form('Comment:post', form=comment_form, post_id=post.id) }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row justify-content-center">
    <div class="col col-md-6 comments"></div>
  </div>
{% endblock %}

{% block js_templates%}
  <script type="text/template" class="comments-template">
    <div class="card">
      <div class="card-block" data-id="<%= id %>">
        <h5 class="card-title"><%= user %></h5>
        <p class="card-text"><%= comment %></p>
        <% if (user == currentUser) { %>
          <a href="#" class="card-link edit-comment">Edit</a>
          <a href="<%= endpointUrl %>" class="card-link delete-comment">Delete</a>
        <% } %>
        <div class="edit-comment-container">
          <textarea class="comment-input" rows=5><%= comment %></textarea>
          <div>
            <button type="button" class="btn btn-primary save-btn">Save</button>
            <button type="button" class="btn btn-default cancel-btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Errors messages template -->
  <script type="text/template" class="error-template">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Error:</strong><%= error %>
    </div>
  </script>
{% endblock %}

{% block scripts %}
  <script>
    window.allCommentEndpoint = "{{url_for('Comment:all', post_id=post.id)}}";
    window.commentDeleteEndpoint = "{{url_for('Comment:delete', comment_id='')}}";
    {% if comment_form %}
      window.csrfToken = "{{ comment_form.csrf_token.current_token}}";
      window.commentPostEnpoint = "{{url_for('Comment:post', post_id=post.id)}}";
      window.currentUser = "{{current_user.username}}";
    {% endif %}
  </script>
{% endblock %}
