body {
  margin-top: 65px;
}

.comments {
  display: none;
}

.edit-comment-container {
  display: none;
}

.edit-comment-container .comment-input {
  width: 90%;
}

#body {
  height: 500px;
}

.post-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.post-likes {
  margin-bottom: 20px;
}